{% set title = "Kontakt" %}
{% set tab = {"kontakt":"active"} %}
{% extends "layout.html" %}
{% block content %}
<header><h1>Kontakt</h1></header>
<dl class="dl-horizontal">
  <dt>Arti Zirk</dt>
  <dd>Email: <a href="&#109;&#97;&#x69;&#x6c;&#x74;&#111;&#58;&#97;&#x72;&#x74;&#105;&#46;&#122;&#x69;&#114;&#107;&#x40;&#103;&#x6d;&#x61;&#x69;&#x6c;&#46;&#x63;&#x6f;&#x6d;">&#97;&#x72;&#x74;&#105;&#46;&#122;&#x69;&#114;&#107;&#x40;&#103;&#x6d;&#x61;&#x69;&#x6c;&#46;&#x63;&#x6f;&#x6d;</a></dd>
  <dd>Telefon: <a href="tel:+37253943357">+372 539 433 57</a></dd>
  <dd>Google+: <a href="https://www.google.ee/+ArtiZirk/about">Arti Zirk</a></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Karl-Oskar Õun</dt>
  <dd>Facebook: <a href="https://www.facebook.com/karloskar.oun">Karl-Oskar Õun</a></dd>
</dl>
</p>
{% endblock %}