{% set title = "Mis? Kus? Millal?" %}
{% set tab = {"miskusmillal":"active"} %}
{% extends "layout.html" %}
{% block content %}
<header><h2><a href="{{ url_for('mis') }}">Mis?</a></h2></header>
<p>Väike-Maarja LAN - Mängime CS:GO-d ja veel väiksemaid mini game, lisaks toimub ka väike retro nurk kus saab üksteisega mõõtu võtta klassikalistes mängudes nagu näiteks DOOM ja Quake.</p>
<p>Rohkem infot <a href="{{ url_for('mis') }}">siin</a></p>

<header><h2>Millal?</h2></header>
<p>Praeguse seisuga on Väike-Maarja LAN-i korraldus lükkunud edasi teadmatta tulevikku.</p>
<p>Kui tahad seda korraldada siis võta ühendust ja võin aidata seda läbi viia.</p>

<header><h1>Kus?</h1></header>
<p>Väike-Maarja Gümnaasiumi saalis</p>
<div class="google-maps">
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=V%C3%A4ike-Maarja%20G%C3%BCmnaasium%2C%20Pikk%2C%20V%C3%A4ike-Maarja%2C%20V%C3%A4ike-Maarja%20vald%2C%20Eesti&key=AIzaSyDR3dC_9L4LV5mx0PimNH-APQArpQ7op4M"></iframe>
</div>
{% endblock %}
