{% set title = "Registreeru" %}
{% set tab = {"registreeru":"active"} %}
{% extends "layout.html" %}
{% block content %}
<header><h1>Registreeru</h1></header>
<h3>Pileti info</h3>
<dl class="dl-horizontal">
  <dt>Vaataja pilet</dt>
  <dd>€</dd>
  <dd>Annab võimaluse lihtsalt üritusel ringi vaadata</dd>
  <dt>Võistleja pilet</dt>
  <dd>€</dd>
  <dd>Saad laua pinna koos tooli, pistiku pesa ja võrgukaabliga ja võid osa võtta erinevatest tegevustest</dd>
  <dt>CS:GO võistleja</dt>
  <dd>€</dd>
  <dd>Sama mis võistleja aga lisaks võid osa võtta CS:GO turniirist</dd>
</dl>

<p>Registreerumine avaneb kohe kohe varsti</p>
{% endblock %}